.navbar-container {
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  padding: 19px 37px 19px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  display: flex;
  gap: 6.69px;
  align-items: center;
}

.navbar-logo h1 {
  color: #fff;
  font-family: Karla;
  font-size: 20.748px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -2.075px;
}

.navbar-container .heading {
  color: #fff;
  text-align: right;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
