* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app-container {
  width: 550px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 36px;
  border: 1px solid grey;
  background: #fff;
}

.page {
  padding: 0px 37px 55px 37px;
}